.App {
  text-align: center;
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-rows: 1fr 2fr 5fr;
}

@media (min-width: 500px) {
	.App {
  		width: 98%;
	}
}
@media (min-width: 700px) {
     .App {
  		width: 80%;
	}
}
@media (max-width: 499px) {
.App {
  		width: 100%;
  		grid-template-rows: 1fr 4fr 5fr;
	}
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
